:host {
  --max-board-size: 500px;
  --robot-head-height: calc(var(--max-board-size) / 5 * 0.2);
  --robot-eye-size: calc(var(--robot-head-height) * 0.2);
  --robot-width: calc(var(--max-board-size) / 5 * 0.4);
  --chevron-height: 6px;
  --chevron-width: 20px;
  --grid-border-color: #D3D3D3;
}

.report {
  color: var(--primary-color);
  margin: 0 0 var(--base-margin) 0;
  padding: 0;
  text-align: center;
}
.report.sr-only {
  margin: 0;
}

main,
.grid {
  height: 100%;
  margin-bottom: var(--base-margin);
  max-width: var(--max-board-size);
  width: 100%;
}

.instructions {
  background: var(--primary-color);
  border-radius: 16px;
  color: var(--secondary-color);
  margin: 0 0 var(--base-margin) 0;
  padding: var(--half-margin) var(--base-margin);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: var(--max-board-size);
  max-height: var(--max-board-size);
  max-width: var(--max-board-size);
  position: relative;
  width: var(--max-board-size);
}

.cell {
  border-left: 1px solid var(--grid-border-color);
  border-top: 1px solid var(--grid-border-color);
  position: relative;
  height: 100%;
  width: 100%;
}

.grid > :nth-child(5n) {
  border-right: 1px solid var(--grid-border-color);
}

.grid > :nth-last-child(-n+5) {
  border-bottom: 1px solid var(--grid-border-color);
}

.robot:not(.hidden) {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.robot-icon {
  display: inline-block;
  position: relative;
}
.robot-icon-head {
  background: linear-gradient(to bottom, teal, #096C6C);
  border-radius: 32px;
  content: '';
  display: inline-block;
  height: var(--robot-head-height);
  position: relative;
  width: var(--robot-width);
}
.robot-icon-head::before,
.robot-icon-head::after {
  background: var(--secondary-color);
  border-radius: 100px;
  content: '';
  display: inline-block;
  height: var(--robot-eye-size);
  position: absolute;
  top: calc((var(--robot-head-height) - var(--robot-eye-size)) / 2);
  width: var(--robot-eye-size);
}
.robot-icon-head::before {
  left: 30%;
}
.robot-icon-head::after {
  right: 30%;
}
.robot-icon::after {
  background: linear-gradient(to bottom, teal, #096C6C);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  content: '';
  display: block;
  height: var(--robot-head-height);
  width: var(--robot-width);
}

.robot-chevron {
  display: none;
  width: var(--chevron-width);
  height: calc(var(--chevron-height) * 2);
  clip-path: polygon(
    0 100%,
    0 calc(100% - var(--chevron-height)),
    50% 0,
    100% calc(100% - var(--chevron-height)),
    100% 100%,
    50% var(--chevron-height)
  );
  background: var(--primary-color);
  flex-shrink: 0;
}

.is-north .robot-chevron {
  display: block;
  position: absolute;
  top: 10%;
}
.is-east .robot-chevron {
  display: block;
  position: absolute;
  right: -50%;
  rotate: 90deg;
}
.is-south .robot-chevron {
  display: block;
  position: absolute;
  bottom: 10%;
  rotate: 180deg;
}
.is-west .robot-chevron {
  display: block;
  position: absolute;
  left: -50%;
  rotate: -90deg;
}

.robot-controls {
  text-align: center;
}
.robot-controls > button {
  background: linear-gradient(to bottom, teal, #096C6C);
  border: none;
  border-radius: 8px;
  color: var(--background-color);
  display: inline-block;
  margin: 0 var(--half-margin) var(--base-margin) var(--half-margin);
  padding: var(--quarter-margin) var(--base-margin);
  text-align: center;
}
.robot-controls > button:last-child {
  background: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  display: block;
  margin: 0 auto;
  width: 7rem;
}
